
  body {
  background: #00467F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;

}

.banner {
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 10vw;
  font-family: 'Pacifico', cursive;
}

.space {
  height: 15vh;
}

.bandPic {
  height: 50vh;
  width: 50vw;
  margin: 0;
}

.bandPic:hover {
  opacity: 0.5
}

.hotfuss {
  text-align: center;
  font-size: 5vw;
  font-family: 'Pacifico', cursive;
  margin-top: 20%;
}

.songlist {
  padding-top: 5%;
  height: 100%;
  padding-left: 30%;
  font-family: 'Noto Sans SC', sans-serif;

}

.album {
  height: 100%;
  width: 100%;
}

.songLeft{
  height: 100%;
  padding-left: 30%;
  padding-top: 5%;
  font-family: 'Noto Sans SC', sans-serif;
}
